.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* área que contém o mapa principal */
.mapSection {
  flex: 1;
  position: relative;
}