/* home.module.css */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.mapSection {
  position: absolute;
  inset: 0;
  z-index: 0; /* FORÇA O MAPA A FICAR NO CHÃO */
}